body{
	font-size:20px;
	
}
#jump a{
	text-decoration: none;
	position: relative;
	padding: 10px;
}
#jump a::after,#jump a::before{
	content: '';
	display: block;
	position: absolute;
	width: 20%;
	height: 20%;
	border: 2px solid;
	transition: all 1s ease;
}
#jump a::after{
	bottom: 0;
	right: 0;
	border-top-color: transparent;
	border-left-color: transparent;
}
#jump a::before{
	top: 0;
	left: 0;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
#jump a:hover:after,#jump a:hover:before{
	width: 100%;
	height: 100%;
}
