.header{
    width: 98%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #21b2cc;

    color: #FFFFFF;
}
main{
    margin: 10px;
    background:#FFFFFF;
}
main .week{
    width: 224.5px;
    padding: 0px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 4px 60px #AAAAAA;
    background:#FFFFFF;
}
.week-up{
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:#FFFFFF;
}
.week-down{
    margin-bottom: 10px;
    background:#FFFFFF;
}
.week-tx1{
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    
    background-color: cadetblue;
}
.week-tx1-1{
    height: 30px;
    line-height: 30px;
    /* text-align: center; */
    padding-left: 10px;
    color: #666666;
}
.week-tx{
    padding-left: 10px;
    color: #666666;
}
